<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wishop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF44F7671E3DF6F40097EAC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF44F77E1E3DF6F50097EAC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF44F7891E3DF6F50097EAC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
